<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <!-- Bootstrap JS dan jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI/tZ1ZInPQZJ+K2u3P6qCyT5d9P5b2QnTGB9L0k=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // tombol di navbar
    $(document).ready(function () {
      $(".nav-link").on("click", function () {
        // Menghapus kelas 'active' dari semua elemen dengan kelas 'nav-link'
        $(".nav-link").removeClass("active");

        // Menambahkan kelas 'active' hanya pada elemen yang diklik
        $(this).addClass("active");
      });
    });
    // Menggunakan JavaScript untuk mengontrol perpindahan
    $("#cardCarousel").on("slide.bs.carousel", function (e) {
      var currentIndex = e.from;
      var nextIndex = e.to;
      var totalItems = $(this).find(".carousel-item").length;

      // Cek apakah sedang di akhir carousel
      if (nextIndex === totalItems - 1) {
        // Pindah ke slide pertama
        $(this).carousel(0);
      }
    });
  </script>
  <script>
    function logout() {
        Swal.fire({
            title: 'Apakah anda yakin keluar?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#558CA1',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya, Keluar!',
            cancelButtonText: 'Batal',
        }).then((result) => {
            if (result.isConfirmed) {
                // Menghapus cookie
                document.cookie = 'mytoken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';

                Swal.fire(
                    'Signed out!',
                    'Anda telah keluar.',
                    'success'
                ).then(() => {
                    // Redirect ke halaman login atau halaman lain yang sesuai
                    window.location.href = "/"; // Ganti dengan lokasi yang sesuai
                });
            }
        });
    }
</script>

  <style>
    #navbarNav{
      margin-left: 20px;
    }
  </style>
</head>

<body>
  <div class="container-utama">
    <nav class="navbar navbar-expand-md navbar-light bg-aqua fixed-top">
      <div class="container"> <!-- Tambahkan container di dalam navbar -->
        <a class="navbar-brand mt-md-1" href="#">
          <img src="/static/AssetsMSIB/logo2.png" width="30" />
          SMP PUTRI DARUT TAUHID BANGIL
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-md-auto"> <!-- Menggunakan ml-md-auto untuk membuat item seimbang di sebelah kanan pada layar medium -->
            <li class="nav-item">
              <a class="nav-link" href="/dashboard"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pendaftaran">Pendaftaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/status_pendaftaran">Status Pendaftaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/kontak">Kontak Kami</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="/static/AssetsMSIB/icon_profile.jpg" width="30" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <button class="dropdown-item" onclick="logout()">Logout</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
    <!-- Selamat datang -->
    <div class="sambutan">
      <div class="row bg">
        <div class="column" style="background-color: rgba(255, 255, 255, 0.5)">
          <h1>SELAMAT DATANG!</h1>
          <br />
          <p class="mt-2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non hic
            odit dolores labore asperiores
          </p>
          <a href class="btn btn-success">Daftar Sekarang</a>
        </div>
        <div class="column">
          <img src="/static/AssetsMSIB/Kepala_sekolah.png" alt width="400" />
          <h2 class="kepsek">Hj. Luluk Shobihah</h2>
        </div>
      </div>
    </div>

    <!-- Album Kegiatan -->
    <div class="kegiatan">
      <div class="album mt-5">
        <h6 class="text-center">Album kegiatan sekolah</h6>
        <br />
        <h4 class="text-center">ARTIKEL KEGIATAN SEKOLAH</h4>
      </div>
      <div class="container">
        <div id="cardCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row mt-2">
                <div class="col-md-4">
                  <!-- Card 1 -->
                  <div class="card mb-3" style="
                        border-radius: 20px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                      ">
                    <!-- Card Content -->
                    <img src="/static/AssetsMSIB/ekstrakurikulerpencaksilat.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Ekstrakurikuler Pencak Silat</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="/artikel?judul=Ekstrakurikuler Pencak Silat" class="btn btn-primary">Baca
                        Selanjutnya..</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <!-- Card 2 -->
                  <div class="card mb-3" style="
                        border-radius: 20px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                      ">
                    <!-- Card Content -->
                    <img src="/static/AssetsMSIB/memperingatihariguru.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Memperingati Hari Guru</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="/artikel?judul=Memperingati Hari Guru" class="btn btn-primary">Baca Selanjutnya..</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <!-- Card 3 -->
                  <div class="card mb-3" style="
                        border-radius: 20px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                      ">
                    <!-- Card Content -->
                    <img id="gambarArtikel" src="/static/AssetsMSIB/kegiatansholatdzuhurberjamaah.jpg"
                      class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title" id="judulArtikel">
                        Kegiatan Sholat Dzuhur Berjamaah
                      </h5>
                      <p class="card-text" id="kontenArtikel">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a href="/artikel?judul=Kegiatan Sholat Dzuhur Berjamaah" class="btn btn-primary">Baca
                        Selanjutnya...</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <!-- Card 4 -->
                  <div class="card mb-3" style="
                        border-radius: 20px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                      ">
                    <!-- Card Content -->
                    <img src="/static/AssetsMSIB/kegiatanparwelperty.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Kegiatan Parwel Perty</h5>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Expedita veniam, magnam sapiente, repellat
                        mollitia commodi error illum temporibus sequi labore
                        nostrum repudiandae eligendi enim tempore est nihil
                        omnis soluta autem atque quos non impedit perspiciatis
                        odit ex. Sed suscipit et, </p>
                      <a href="/artikel?judul=Kegiatan Parwel Perty" class="btn btn-primary">Baca Selanjutnya...</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <!-- Card 5 -->
                  <div class="card mb-3" style="
                        border-radius: 20px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                      ">
                    <!-- Card Content -->
                    <img src="/static/AssetsMSIB/perayaanhariguru.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Perayaan Hari Guru</h5>
                      <p class="card-text">Isi dari card kelima.</p>
                      <a href="/artikel?judul=Perayaan Hari Guru" class="btn btn-primary">Baca Selanjutnya...</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <!-- Card 6 -->
                  <div class="card mb-3" style="
                        border-radius: 20px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                      ">
                    <!-- Card Content -->
                    <img src="/static/AssetsMSIB/stopbuliyying.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Stop Buliyying</h5>
                      <p class="card-text">Isi dari card keenam.</p>
                      <a href="/artikel?judul=Stop Buliyying" class="btn btn-primary">Baca Selanjutnya...</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#cardCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#cardCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <!-- kontak -->
    <div class="container-contact">
      <div class="informasi mt-5">
        <div class="row">
          <div class="d-flex flex-column position">
            <img src="/static/AssetsMSIB/logo2.png" width="70" />
            <p>SMP Putri Darut Tauhid Bangil</p>
            <div class="ml-center">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>

          <div class="d-flex flex-column position">
            <h5>Kontak Kami</h5>
            <p>smpdaruttauhidbangil@gmail.com</p>
            <p>+628572139901</p>
            <p>
              Jl. Layur No.55, Gempeng, Kec. Bangil, Pasuruan, Jawa Timur
              67153
            </p>
          </div>
          <div class="d-flex flex-column position">
            <h5>Lokasi Kami</h5>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3954.774705508052!2d112.78817531038237!3d-7.599480575073479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7db74c04a8805%3A0xee10f21ed0907f41!2sSmp%20putri%20darut%20tauhid%20bangil!5e0!3m2!1sid!2sid!4v1702214351558!5m2!1sid!2sid"
              width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <h6 class="card-title">
            @SMPPUTRIDARUTAUHIDBANGIL.all right reserved
          </h6>
          <h6 class="card-title">privacy & policy</h6>
        </div>
      </div>
    </div>
  </div>
</body>

</html>