<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form Pendaftaran</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/fontawesome/css/all.min.css" />
  <!-- Bootstrap JS dan jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // Menangani perubahan pilihan jenis kelamin
    $('input[name="jenisKelamin"]').on("change", function () {
      // Menghapus properti checked dari semua radio button
      $('input[name="jenisKelamin"]').prop("checked", false);

      // Mengatur properti checked hanya pada radio button yang dipilih
      $(this).prop("checked", true);
    });

    function input() {
      let nama = $("#nama").val();
      let jenisKelamin = $("input[name='jenisKelamin']:checked").val();
      let alamat = $("#alamat").val();
      let no = $("#no").val();
      let asal = $("#asal").val();
      let ijazah = $("#ijazah")[0].files[0];
      let kk = $("#kk")[0].files[0];

      if (
        nama === "" ||
        jenisKelamin === undefined ||
        alamat === "" ||
        no === "" ||
        asal === "" ||
        ijazah === undefined ||
        kk === undefined
      ) {
        alert("Harap isi semua kolom sebelum mengirimkan formulir.");
        return;
      }

      // Jika formulir sudah terisi dengan benar, tampilkan alert
      alert("Formulir telah diisi dengan benar. Data akan dikirimkan.");

      $.ajax({
        type: "POST",
        url: "/pendaftaran",
        data: {
          'nama': nama,
          'jenisKelamin': jenisKelamin,
          'alamat': alamat,
          'no': no,
          'asal': asal,
          'ijazah': ijazah,
          'kk': kk
        },
        contentType: false,
        processData: false,
        success: function (response) {
          console.log(response);
          // Tambahkan logika lainnya jika diperlukan
        },
        error: function (error) {
          console.log(error);
        },
      });
    }

  </script>
  <script>
    function logout() {
      Swal.fire({
        title: 'Apakah anda yakin keluar?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#558CA1',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ya, Keluar!',
        cancelButtonText: 'Batal',
      }).then((result) => {
        if (result.isConfirmed) {
          // Menghapus cookie
          document.cookie = 'mytoken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';

          Swal.fire(
            'Signed out!',
            'Anda telah keluar.',
            'success'
          ).then(() => {
            // Redirect ke halaman login atau halaman lain yang sesuai
            window.location.href = "/"; // Ganti dengan lokasi yang sesuai
          });
        }
      });
    }
  </script>
</head>

<body>
  <!-- Navbar -->
  <div class="container-utama">
    <nav class="navbar navbar-expand-md navbar-light bg-aqua fixed-top">
      <div class="container"> <!-- Tambahkan container di dalam navbar -->
        <a class="navbar-brand mt-md-1" href="#">
          <img src="/static/AssetsMSIB/logo2.png" width="30" />
          SMP PUTRI DARUT TAUHID BANGIL
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-md-auto">
            <!-- Menggunakan ml-md-auto untuk membuat item seimbang di sebelah kanan pada layar medium -->
            <li class="nav-item">
              <a class="nav-link" href="/dashboard"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pendaftaran">Pendaftaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/status_pendaftaran">Status Pendaftaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/kontak">Kontak Kami</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="/static/AssetsMSIB/icon_profile.jpg" width="30" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <button class="dropdown-item" onclick="logout()">Logout</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section style="margin-top: 90px">
      <div class="container">
        <h1 class="text-center mb-4">FORM PENDAFTARAN</h1>
        <form class="form" method="POST" action="{{ url_for('pendaftaran') }}" enctype="multipart/form-data">
          <!-- Nama Lengkap -->
          <div class="form-row">
            <div class="form-group col-md-6 offset-md-1 mt-4">
              <label for="nama">Nama Lengkap</label>
              <input type="text" class="form-control" name="nama" id="nama" placeholder="Masukkan Nama Lengkap" style="
                  border-radius: 5px;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                " />
            </div>
          </div>
          <!-- jenis kelamin -->
          <div class="form-row">
            <div class="form-group col-md-6 offset-md-1 mt-1">
              <h5>jenis kelamin</h5>
              <div class="form-check form-check-inline">
                <input class="form-check-input mr-3" type="radio" name="jenisKelamin" value="Laki-Laki" id="lakiLaki" />
                Laki-Laki
                <input class="form-check-input mr-3" type="radio" name="jenisKelamin" value="Perempuan"
                  id="Perempuan" />
                Perempua
              </div>
            </div>
          </div>
          <!-- Alamat -->
          <div class="form-row">
            <div class="form-group col-md-6 offset-md-1 mt-1">
              <label for="nama">Alamat</label>
              <input type="text" class="form-control" name="alamat" id="alamat" placeholder="Masukkan Alamat Lengkap"
                style="
                  border-radius: 5px;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                " />
            </div>
          </div>
          <!-- No. Telephon/ Whatsapp -->
          <div class="form-row">
            <div class="form-group col-md-6 offset-md-1 mt-2">
              <label for="nama">Nomor Hp / Whatsapp</label>
              <input type="text" class="form-control" name="no" id="no" placeholder="Masukkan Nomor Telepon" style="
                  border-radius: 5px;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                " />
            </div>
          </div>

          <!-- asal sekolah -->
          <div class="form-row">
            <div class="form-group col-md-6 offset-md-1 mt-2">
              <label for="nama">Asal Sekolah</label>
              <input type="text" class="form-control" name="asal" id="asal" placeholder="Masukkan Asal Sekolah" style="
                  border-radius: 5px;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                " />
            </div>
          </div>

          <!-- uploud ijazah -->
          <div class="form-row">
            <div class="form-group col-md-6 offset-md-1 mt-2">
              <label for="nama">Unggah Dokumen</label>
              <div class="input-group mb-3">
                <label class="input-group-text" for="ijazah">Ijazah</label>
                <input type="file" class="form-control" name="ijazah" id="ijazah" style="
                    border-radius: 5px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                  " />
              </div>
              <div class="input-group mb-3">
                <label class="input-group-text" for="kk">Kartu Keluarga</label>
                <input type="file" class="form-control" name="kk" id="kk" style="
                    border-radius: 5px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                  " />
              </div>
            </div>
          </div>
          <div class="daftar">
            <button type="submit" class="btn btn-primary" onclick="input()">
              Daftar
            </button>
          </div>
        </form>
      </div>
    </section>
    <!-- kontak -->
    <div class="container-contact">
      <div class="informasi mt-5">
        <div class="row">
          <div class="d-flex flex-column position">
            <img src="/static/AssetsMSIB/logo2.png" width="70" />
            <p>SMP Putri Darut Tauhid Bangil</p>
            <div class="ml-center">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>

          <div class="d-flex flex-column position">
            <h5>Kontak Kami</h5>
            <p>smpdaruttauhidbangil@gmail.com</p>
            <p>+628572139901</p>
            <p>
              Jl. Layur No.55, Gempeng, Kec. Bangil, Pasuruan, Jawa Timur
              67153
            </p>
          </div>
          <div class="d-flex flex-column position">
            <h5>Lokasi Kami</h5>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3954.774705508052!2d112.78817531038237!3d-7.599480575073479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7db74c04a8805%3A0xee10f21ed0907f41!2sSmp%20putri%20darut%20tauhid%20bangil!5e0!3m2!1sid!2sid!4v1702214351558!5m2!1sid!2sid"
              width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <h6 class="card-title">
            @SMPPUTRIDARUTAUHIDBANGIL.all right reserved
          </h6>
          <h6 class="card-title">privacy & policy</h6>
        </div>
      </div>
    </div>
  </div>
</body>

</html>